// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.display-flex {
  display: flex;
}

.flex-column{
    flex-direction: column;
}
.margin-bottom-2{
    margin-bottom: 0.5rem;
}
